html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

body {
	margin: 0;
	font-family: Georgia, serif;
	font-size: 19px;
	font-size: 1.2rem;
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul {
	display: list-item;
	list-style: none;
	padding: 0;
	overflow: hidden;
}
.header {
	text-align: center;
	font-family: Georgia, serif;
}
.svghedaer{
	text-align: center;
}
.menor {
    position: relative;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 100%;
}
.menu-topo {
	text-align: center;
}
li {
	display: block;
	margin: 6px;
}
h2{
 text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: -apple-system, sans-serif;
}

a {
	color: #232323;
	text-decoration: none;
}
a:hover{
	background-color: #00AAEE;
}
p {
	margin: 0 0 1.5em 0;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}
html {
	box-sizing: border-box;
}