ul {
	display: list-item;
	list-style: none;
	padding: 0;
	overflow: hidden;
}
.header {
	text-align: center;
	font-family: "Verdana";
}
.svghedaer{
	text-align: center;
}
.menor {
    position: relative;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 100%;
}
.menu-topo {
	text-align: center;
}
li {
	display: block;
	margin: 6px;
}
h2{
 text-align: left;
}

a {
	color: #232323;
	text-decoration: none;
}
a:hover{
	background-color: #00AAEE;
}